<div class="authBlock">
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate>
    <mat-card class="shipping-card">
      <mat-card-header class="form-header">
        <mat-card-title i18n="@@form.title"> Create an account </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-error
          *ngIf="registerResult.submited && !registerForm.valid"
          i18n="@@form.error"
        >
          Error form invalid
        </mat-error>
        <div
          *ngIf="registerResult.submited && registerForm.valid"
          i18n="@@form.success"
        >
          Success form valid
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Login" formControlName="login" />
            </mat-form-field>

            <mat-error
              class="alert"
              *ngIf="
                !registerForm.get('login')?.valid &&
                registerForm.get('login')?.touched
              "
              i18n="@@form.emailInvalid"
            >
              Invalid email
            </mat-error>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Password"
                formControlName="password"
                type="password"
              />
            </mat-form-field>

            <mat-error
              class="alert"
              *ngIf="
                !registerForm.get('password')?.valid &&
                registerForm.get('password')?.touched
              "
            >
              <p i18n="@@form.passwordInvalid">Password must :</p>
              <ul>
                <li i18n="@@form.passwordInvalidNbCharacters">
                  Be longer than 8 characters
                </li>
                <li i18n="@@form.passwordInvalidUpper">
                  Contain 1 upper case letter
                </li>
                <li i18n="@@form.passwordInvalidSpecial">
                  Contain 1 special character
                </li>
              </ul>
            </mat-error>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="form-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          i18n="@@form.submit"
        >
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
